{% extends "base.html" %} {% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <h1>About Captain's Blog</h1>
      <p class="lead">
        Hello! Welcome to Captain's Blog, your go-to source for insightful
        articles on aviation, programming, and drumming. My name is Captain
        Bett, and I’m thrilled to share my knowledge and experiences with you.
        Each of these interests has shaped who I am and how I see the world.
        Here's a little more about each of them:
      </p>

      <h2>Aviation</h2>
      <p>
        Ever since I was a child, I've been fascinated by the skies. The
        mechanics of flight, the thrill of takeoff, and the serene beauty of
        cruising at altitude all captivate me. I spend a lot of time reading
        about aviation technology, aircraft design, and flight simulation.
        Whenever I get the chance, I visit airshows and aviation museums to
        learn more and see these incredible machines up close. I have intentions
        of venturing more into this mind-blowing field in the near future.
      </p>

      <h2>Programming</h2>
      <p>
        Programming is not just a profession for me; it's a passion. I enjoy
        creating software that solves problems and makes life easier. I have
        experience in programming languages such as Python and JavaScript. I
        love staying up-to-date with the latest trends in technology and
        continuously improving my skills. Whether it's developing web
        applications, automating tasks, or experimenting with new frameworks,
        programming always keeps me engaged and challenged.
      </p>

      <h2>Drumming</h2>
      <p>
        Drumming is my creative outlet. There's something incredibly satisfying
        about creating rhythms and beats. I enjoy playing different styles, from
        sebene and jazz to electronic and experimental. Drumming helps me relax
        and express myself in ways that words often can't. I also like
        collaborating with other musicians and exploring how different
        instruments can come together to create unique sounds.
      </p>

      <h2>Our Mission</h2>
      <p>
        Captain's Blog was created to provide readers with valuable insights
        into the world of aviation,technology and music. Whether you are a
        beginner looking to learn the basics or an experienced professional
        seeking advanced tips, our goal is to make complex topics accessible and
        engaging for everyone.
      </p>

      <h2>What We Cover</h2>
      <p>On this blog, you will find:</p>
      <ul>
        <li>
          <strong>Technology Reviews:</strong> In-depth reviews of the latest
          gadgets and software.
        </li>
        <li>
          <strong>Programming Tutorials:</strong> Step-by-step guides and
          tutorials on various programming languages and tools.
        </li>
        <li>
          <strong>Aviation News:</strong> The latest news and trends in the
          aviation industry.
        </li>
        <li>
          <strong>Personal Insights:</strong> Stories and experiences from my
          own journey in both aviation and tech.
        </li>
      </ul>

      <h2>Join the Community</h2>
      <p>
        I invite you to join our growing community of tech enthusiasts and
        professionals. Feel free to explore the blog, leave comments, and share
        your thoughts. If you have any questions or suggestions, do not hesitate
        to reach out through the contact page.
      </p>
      <!-- Contact info -->
      <h2 id="contact">Contact Me</h2>
      <p>
        I'm always excited to connect with like-minded people, whether you share
        my interests or just want to say hello. Here's how you can reach me:
      </p>
      <div class="contact">
        <p>
          Email:
          <a href="mailto:your.email@example.com">captainbett@gmail.com</a>
        </p>
        <p>
          LinkedIn:
          <a href="https://www.linkedin.com/in/enockbett" target="_blank"
            >linkedin.com/in/enockbett</a
          >
        </p>
        <p>
          Twitter:
          <a href="https://www.twitter.com/captain77" target="_blank"
            >@captain77</a
          >
        </p>
        <p>
          Instagram:
          <a href="https://www.Instagram.com/cap.tain_77" target="_blank"
            >@captain77</a
          >
        </p>
        <p>
          GitHub:
          <a href="https://www.github.com/captainBett" target="_blank"
            >github.com/CaptainBett</a
          >
        </p>
      </div>

      <h2>Fun Facts</h2>
      <p>
        When I'm not coding or flying, you can find me exploring the outdoors,
        trying out new recipes, or indulging in a good sci-fi movie. I believe
        in the power of continuous learning and always strive to stay curious
        and creative.
      </p>

      <h2>Thank You</h2>
      <p>
        Thank you for visiting Captain's Blog. I hope you find the content
        helpful and inspiring. If you share any of these interests or just want
        to say hello, feel free to reach out. I'm always excited to connect with
        like-minded people. Do not forget to subscribe to our newsletter and
        follow us on social media to stay updated with the latest posts and
        updates.
      </p>

      <!-- url ya subscribe -->
    </div>
  </div>
</div>
{% endblock %}
